*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
./ServerPackage/.vs
./ServerPackage/x64
*x64
/.vs
/ServerTest/TestConfigForServer/.vs
/ServerPackage/db_credentials.h
/ServerTest/TestConfigForServer/enc_temp_folder/624627f8968632e4a838c38987bab
